language: python

python:
  - "3.5"
  - "3.6"

install:
  - pip install -r requirements-ci.txt

script:
  - make syntax
  - python setup.py develop
  - pytest --cov-report term-missing --cov=aiocache -sv tests/ut
  - pytest -sv tests/acceptance
  - bash examples/run_all.sh

services:
  - redis-server
  - memcached

after_success:
  - codecov
