language: python
cache: pip

install:
  - pip install tox

services:
  - redis-server
  - memcached

jobs:
  include:
    - stage: syntax
      script: tox
      python: 3.6
      env: TOXENV=syntax
    - script: tox
      python: 3.6
      env: TOXENV=docs-html

    - stage: test
      script: tox
      env: TOXENV=py35,codecov
      python: 3.5
    - script: tox
      env: TOXENV=py35,codecov
      python: 3.5-dev
    - script: tox
      env: TOXENV=py35-ujson,codecov
      python: 3.5
    - script: tox
      env: TOXENV=py35-deps-lowest,codecov
      python: 3.5
    - script: tox
      env: TOXENV=py35-deps-devel,codecov
      python: 3.5

    - script: tox
      env: TOXENV=py36,codecov
      python: 3.6
    - script: tox
      env: TOXENV=py36,codecov
      python: 3.6-dev
    - script: tox
      env: TOXENV=py36-ujson,codecov
      python: 3.6
    - script: tox
      env: TOXENV=py36-deps-lowest,codecov
      python: 3.6
    - script: tox
      env: TOXENV=py36-deps-devel,codecov
      python: 3.6

    - script: tox
      env: TOXENV=py37,codecov
      python: 3.7
      dist: xenial
      sudo: true
    - script: tox
      env: TOXENV=py37-ujson,codecov
      python: 3.7
      dist: xenial
      sudo: true
    - script: tox
      env: TOXENV=py37-deps-lowest,codecov
      python: 3.7
      dist: xenial
      sudo: true
    - script: tox
      env: TOXENV=py37-deps-devel,codecov
      python: 3.7
      dist: xenial
      sudo: true

    - stage: deploy
      script: skip
      python: 3.6
      deploy: &pypi
        provider: pypi
        user: blck
        password:
          secure: 6EzuQM9MJeyiBbD0KGHWhRxW3Q5Z0iWSTPwA3DNzfDKF3iKlz27FFauRIKvv8nnq3FhHos5TziSFWnhNqNNRqynlkJM7n+YGH6HwXQjFJBCwa4PgaSGJxAnAjaq0l2E6CGxzGFG4Bef52IzJiFS5njjjK9jnpbkGKMm+LQ8QFXmLjPQhHnRYEDTE7zrGR6Q/u9WuB6J9Rhsec0ncJm9E14dWui9ap7+bEfBbCADvxZrSNBtSkpq0IN0ui0ZLoSkingLVkXFg1rIkIxxmYwsVKsPi+IvF3Ig8XxvhcqV2+420SgbM2yMGUmx6cW78vCcc3LikeeGKVGhsMDqACCySy7SUsL6AcBOM6A0xbPTIfQPvzwelhpA7j8G4p9vnlOFdnLNcnFt4H8l3il/lWUyEmf6SdeCNNL1m53qYqZQn8LAQyu7VfKn5oTNcMEFsgZ7rnY8Y3UiJ8uXfBhf4e/LF2QxKgDFNYftC3kU0EnX8mAeKyrNmaLdjz/lbQ0Yaq6w4dFkDm1NMp6vY5RMFCntkjNOGGuqlwCZY1YM+SFs13RdOJi/CGuwWDFJv/v28pAk+UTBtT23n/kWx7TI1dcUWYE56Lq7qbR3It0cgBicvh9Uq8ya1om1WwmzsY8zDayk5eIcm9kZ3lCZi595BEbGtFn0IIAEYmHPwwEM/acAu2rw=
        distributions: "sdist bdist_wheel"
        on:
          tags: true
          python: 3.6
