[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"-e .[redis,memcached,msgpack]" = "*"


[dev-packages]

"-e .[dev]" = "*"
"e1839a8" = {path = ".", editable = true}
