[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", extras = ["msgpack", "redis", "memcached"], editable = true}

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
codecov = "*"
marshmallow = "*"
asynctest = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
pystache = "*"
coverage = "*"
pylint = "*"
ipdb = "*"
