-r requirements.txt

flake8==7.0.0
flake8-bandit==4.1.1
flake8-bugbear==24.2.6
flake8-import-order==0.18.2
flake8-requirements==2.1.1
mypy==1.9.0; implementation_name=="cpython"
types-redis==4.6.0.20240409
types-ujson==5.9.0.0
