-r requirements.txt
-e .
flake8==3.3.0
pytest==3.1.2
pytest-asyncio==0.6.0
pytest-cov==2.5.1
pytest-mock==1.6.0
codecov==2.0.9
sphinx==1.6.2
marshmallow==2.13.5
asynctest==0.10.0
pystache==0.5.4

aiohttp==2.2.0
tornado==4.5.1
sanic==0.5.4
