-e .[dev,redis,memcached,msgpack]
aiohttp==3.8.1
flake8==4.0.1
flake8-bandit==3.0.0
flake8-bugbear==22.1.11
flake8-import-order==0.18.1
#flake8-requirements==1.5.2
marshmallow==3.15
mypy==0.940; implementation_name=="cpython"
pytest==7.0.1
pytest-asyncio==0.18.2
pytest-cov==3.0.0
pytest-mock==3.7
types-ujson==4.2.1
