-r requirements.txt
-e .

flake8==3.4.1
mypy==0.521
pytest==3.2.1
pytest-asyncio==0.6.0
pytest-cov==2.5.1
pytest-mock==1.6.2
codecov==2.0.9
sphinx==1.6.3
marshmallow==2.13.6
git+https://github.com/MartiusWeb/asynctest@async_magic
pystache==0.5.4

aiohttp==2.2.5
tornado==4.5.1
sanic==0.6.0

sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.2.4
gitchangelog==3.0.3
